<html lang="en">
  <div class="bg-black bg-white bg-pink bg-blue bg-green"></div>
  <div class="bg-mojo_accent bg-hidden_season_accent"></div>
  <div class="text-black text-white text-pink text-blue text-green"></div>
  <div
    class="border-black border-white border-pink border-blue border-green"
  ></div>
  <div
    class="hover:bg-black hover:bg-white hover:bg-pink hover:bg-blue hover:bg-green"
  ></div>
  <div
    class="hover:text-black hover:text-white hover:text-pink hover:text-blue hover:text-green"
  ></div>
  <div class="grid-rows-10 md:grid-rows-6 xl:grid-rows-5"></div>
  <div class="grid-rows-22 md:grid-rows-15 xl:grid-rows-11"></div>
  <div class="md:h-fullsection_md"></div>
</html>
