<html lang="en">
  <div class="bg-black bg-blue bg-green bg-pink bg-white"></div>
  <div class="bg-hidden_season_accent bg-mojo_accent"></div>
  <div class="text-black text-blue text-green text-pink text-white"></div>
  <div
    class="border-black border-blue border-green border-pink border-white"
  ></div>
  <div
    class="hover:bg-black hover:bg-blue hover:bg-green hover:bg-pink hover:bg-white"
  ></div>
  <div
    class="hover:text-black hover:text-blue hover:text-green hover:text-pink hover:text-white"
  ></div>
  <div class="grid-rows-10 md:grid-rows-6 xl:grid-rows-5"></div>
  <div class="grid-rows-22 md:grid-rows-15 xl:grid-rows-11"></div>
  <div class="md:h-fullsection_md"></div>
</html>
