@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "MyRoboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf");
  }

  @font-face {
    font-family: "MyCalson";
    src: url("fonts/Calson/LibreCaslonText-Regular.ttf");
  }

  html,
  body {
    @apply p-0 m-0 font-roboto;
  }

  a {
    @apply no-underline;
    color: inherit;
  }

  * {
    @apply box-border;
  }
}
